<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo Redux</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h2>Here are the awesome quotes!</h2>
      <% for (var quote in quotes) { %>
        <p>"<%= quotes[quote].quote %>"</p>
        <p>-<%= quotes[quote].name %> at <%= quotes[quote].createdAt %></p>
        <hr>
      <% } %>
    </div>

  </body>
</html>
