<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form Results</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h3>Submitted Info</h3>
      <p>Name: <%= name %></p>
      <p>Dojo Location: <%= loc_select %></p>
      <p>Favorite Language: <%= fav_lang %></p>
      <p>Comment: <%= comment %></p>

      <form class="return_form" action="/" method="get">
        <input id="submit_but" type="submit" name="go_back" value="Go Back">
      </form>
    </div>

  </body>
</html>
