* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

.server_msg {
  background: linear-gradient(white, yellowgreen);
}

.container {
  width: 760px;
  height: 500px;
  background: linear-gradient(white, blue);
  padding: 20px;
  margin: 100px auto auto auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

#submit_but {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
}

p {
  margin: 10px 0;
}
